@model ReservationHotel.Models.Chambre

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier une Chambre</title>
    <link rel="stylesheet" href="~/css/styles3.css">
</head>
<body>
    <div class="container">
        <h1>Modifier une Chambre</h1>
        <hr />
        <form asp-action="Edit">
            <div class="row">
                <div class="col">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ChambreId" />
                    <div class="form-group">
                        <label asp-for="NumeroChambre" class="control-label"></label>
                        <input asp-for="NumeroChambre" class="form-control" />
                        <span asp-validation-for="NumeroChambre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TypeChambre" class="control-label"></label>
                        <input asp-for="TypeChambre" class="form-control" />
                        <span asp-validation-for="TypeChambre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="QuantitePersonnes" class="control-label"></label>
                        <input asp-for="QuantitePersonnes" class="form-control" />
                        <span asp-validation-for="QuantitePersonnes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Prix" class="control-label"></label>
                        <input asp-for="Prix" class="form-control" />
                        <span asp-validation-for="Prix" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MaxPersonne" class="control-label"></label>
                        <input asp-for="MaxPersonne" class="form-control" />
                        <span asp-validation-for="MaxPersonne" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Vue" class="control-label"></label>
                        <input asp-for="Vue" class="form-control" />
                        <span asp-validation-for="Vue" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Lit" class="control-label"></label>
                        <input asp-for="Lit" class="form-control" />
                        <span asp-validation-for="Lit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" class="form-control" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Modifier" class="btn btn-primary" />
            </div>
        </form>
        <div class="back2">
            <a asp-action="Index">Retour à la liste</a>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
