@{
    ViewData["Title"] = "GestionUtilisateurs";
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Utilisateurs</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="divAjouter">
        <h1>Gestion des Utilisateurs</h1>
        <button class="add-room-btn">Ajouter un utilisateur</button>
    </div>
    <div class="rooms-container">
        <!-- Début -->
        <div class="room-item">
            <div class="room-details">
                <p class="room-name">ID: 1</p>
                <p class="room-name">Nom: Montplaisir</p>
                <p class="room-name">Prenom: Samuel</p>
                <p class="room-name">Email: samuelmontplaisir1@gmail.com</p>
            </div>
            <button class="edit-room">Modifier</button>
            <button class="delete-room">Supprimer</button>
        </div>
        <div class="room-item">
            <div class="room-details">
                <p class="room-name">ID: 2</p>
                <p class="room-name">Nom: Dupont</p>
                <p class="room-name">Prenom: Marie</p>
                <p class="room-name">Email: mariedupontfare2@example.com</p>
            </div>
            <button class="edit-room">Modifier</button>
            <button class="delete-room">Supprimer</button>
        </div>
        <div class="room-item">
            <div class="room-details">
                <p class="room-name">ID: 3</p>
                <p class="room-name">Nom: Martin</p>
                <p class="room-name">Prenom: Jean</p>
                <p class="room-name">Email: jeanmartinleroy333@example.net</p>
            </div>
            <button class="edit-room">Modifier</button>
            <button class="delete-room">Supprimer</button>
        </div>
        <div class="room-item">
            <div class="room-details">
                <p class="room-name">ID: 4</p>
                <p class="room-name">Nom: Leroy</p>
                <p class="room-name">Prenom: Sophie</p>
                <p class="room-name">Email: sophieleroylemieux4@example.org</p>
            </div>
            <button class="edit-room">Modifier</button>
            <button class="delete-room">Supprimer</button>
        </div>
        


    </div>

</body>
</html>

